

@font-face{
    font-family: trump_gothic_west;
    src: url("../../fonts/trump_gothic_west.ttf");
}

@font-face{
    font-family: trump_gothic_west;
    src: url("../../fonts/trump_gothic_west.ttf");
}

@font-face{
    font-family: maisonneuebook;
    src: url("../../fonts/maisonneuebook.ttf");
}

@font-face{
    font-family: Breathe Fire;
    src: url("../../fonts/Breathe Fire.otf");
}

@font-face{
    font-family: Breathe Fire;
    src: url("../../fonts/Breathe Fire.otf");
}

body{
	font-family: 'maisonneuebook' !important;
	color: #21282E !important;
	background-color: #21282E;
	overflow: hidden;
}

	/*welcome page*/

.bg{
  height: 100vh;
  color: #21282E;
  background: #21282E;
  background: linear-gradient(-90deg,  #21282E, #32373C);
  background: -webkit-linear-gradient(-90deg, #21282E, #32373C); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-90deg, #21282E, #32373C); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-90deg, #21282E, #32373C); /* For Firefox 3.6 to 15 */
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
    font-family: 'Breathe Fire';
    color: #fff;
}

.links > a {
    color: #fff;
    padding: 0 25px;
    font-size: 12px;
    font-family: 'maisonneuebook', sans-serif;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}


.nopaddingleft{
  padding-left: 0 !important;
}

.nopaddingright{
  padding-right: 0 !important;
}

#panelHome{
  margin-top: 20vh;
}

#tableLadders{
  margin-top: 20vh;
}

#tableProfile{
  margin-top: 20vh;
}

/* navbar general */

.navbarContainer{
	background-color: #21282E;
	height: 100px;
}


.leftAreaNavbar{
	float: left;
}

.centerAreaNavbar{
	text-align: center;
	width: 40vw;
	position: fixed;
  left: 50%;
  transform: translateX(-50%);
	margin-top: 5vh;
	height: auto;

}

.rightAreaNavbar{
	float: right;
	display: inline-block;
	margin: auto;
	height: auto;
}


.items{
	padding-right: 3vw;
	color: #fff;
	font-size: 18pt;
	font-family: 'trump_gothic_west';
	opacity: 0.8;
}

.items:hover{
	opacity: 1;
  color: #fff;
  text-decoration: none;
}

.battleMode{
	width: 80px;
	height: 80px;
	border-radius: 100px;
	background-image: url("../../images/fierce.svg");
	background-position: center;
	background-size: cover;
	border: none;
	background-repeat: no-repeat;
	background-color: #4AC8FF;
	margin:auto;
	position:relative;
	box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

.profile{
	padding-left: 3vw;
	color: #fff;
	font-size: 18pt;
	font-family: 'trump_gothic_west';
	opacity: 0.8;
}

.profile:hover {
	opacity: 1;
	color: #fff;
  text-decoration: none;
}

.userImage{
	width: 20px;
	height: 20px !important;
	border-radius: 100px;
	background-color: #fff;
	z-index: 10;
	float: left;
	display: inline-block;
	margin-top: 45px;
	margin-right: 15px;
}

.userName{
	float: left;
	color: #fff;
	font-family: sans-serif;
	margin-top: 30px;
	line-height: 20px;
	padding-right: 15px;
	padding-top: 15px;
	font-size: 9pt;
	font-family: 'maisonneuebook';
}

.logout{
	float: right;
	color: #fff !important;
	font-family: 'maisonneuebook';
	margin-top: 30px;
	line-height: 20px;
	font-size: 9pt;
	padding-top: 15px;
  opacity: 0.7;
}

.logout:hover{
  text-decoration: none;
  opacity: 1;
}

.col-md-4 control-label{
	font-family: 'trump_gothic_west';
}


.registerForm {
	width: 550px;
	height: 380px;
	margin: auto;
	align-items: center;
}

.form-horizontal{
	margin-top: 45px;
}

.navbar-brand{
	margin-top: 30px;
	font-family: 'Breathe Fire';
	font-size: 16pt;
	color: #fff;
	float: left;
  transition-duration: 0.3s;
 transition-property: transform;
}

.navbar-brand:hover{
	transform: scale(1.1);
  color: #fff;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text{
	color: #fff;
}

.navbar-default .navbar-brand{
	color: #fff;
}

.navbar-right{
	margin-top: 30px;
	font-family: 'trump_gothic_west';
	color: #fff;
}

.chooseCharacterTitle{
	margin-top: 8vh;
	font-family: 'trump_gothic_west';
	color: #fff;
	font-size: 26pt;
}

.buttonsGender{
	margin-top: 4vh;
}

#male{
	width:150px;
	height: 40px;
	background-color: transparent;
	border: 2px solid #fff;
	color: #fff;
	margin-right:5px;
}

#male:hover{
	/*padding: 12px 32px;*/
	background-color: #4AC8FF;
	border: 2px solid #4AC8FF;
	color: #fff;
}

#male:active{
	/*padding: 12px 32px;*/
	background-color: #4AC8FF;
	border: 2px solid #4AC8FF;
	color: #fff;
}

#female{
	/*padding: 12px 32px;*/
	width:150px;
	height: 40px;
	background-color: transparent;
	border: 2px solid #fff;
	color: #fff;
	margin-left:5px;
}

#female:hover{
	/*padding: 12px 32px;*/
	background-color: #FF8497;
	border: 2px solid #FF8497;
	color: #fff;
}

.containerCharacter{
  text-align: center;
}

.chooseCharacter{
	margin-top: 4vh;
  text-align: center;
  height: 270px;
}


.figure{
	height: 270px;
  width: 180px;
	background-color: #fff;
  border: 5px solid #fff;
  border-radius: 2px;
  margin: 10px;
  text-align: center;
  transition-duration: 0.3s;
  transition-property: transform;
  display: inline-block;
}

.figure:hover{
  box-shadow:5px 5px 60px 5px rgba(0, 0, 3, .9);
  transform: scale(1.1);
}

.figure:active{
  border: solid 5px #4FCC53;
}

.figureTitle{
  padding-top: 10px;
  font-family: 'trump_gothic_west',sans-serif;
  color:#21282E;
  font-size: 16pt;
}

.figureImage{
  height: 150px;
  width: 150px;
  background-color: transparent;
  text-align: center;
  padding-top: 10px;
  margin: auto;
}

.figureVal{
  padding-top: 15px;
  font-family: 'trump_gothic_west',sans-serif;
  color:#21282E;
  font-size: 14pt;
}

#monkImage{
  background-image: url("../../images/characters/male_monk.png");
  background-size: cover;
  background-position: center;
}

#wizardImage{
  background-image: url("../../images/characters/male_mage.png");
  background-size: cover;
  background-position: center;
}

#warriorImage{
  background-image: url("../../images/characters/male_warrior.png");
  background-size: cover;
  background-position: center;
}

#demonImage{
  background-image: url("../../images/characters/male_demon.png");
  background-size: cover;
  background-position: center;
}

#assassinImage{
  background-image: url("../../images/characters/male_assassin.png");
  background-size: cover;
  background-position: center;
}

.confirmBtn{
  width:150px;
  height: 40px;
  background-color: #4AC8FF;
  color: #fff;
  margin-right:5px;
  text-align: center;
  border: none;
  border-radius: 2px;
  font-family: 'trump_gothic_west';
  font-size: 16pt;
  margin-top: 5vh;
  transition-duration: 0.3s;
  transition-property: transform;
}

.confirmBtn:hover{
  transform: scale(1.1);
}

.form-group{
	padding: 3px;
}

.form-control{
	border: none;
	box-shadow:2px 2px 20px 2px rgba(0, 0, 3, .08);
  background: white;
}

.form-control::after {
    z-index: -1; /* hide shadow behind image */
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    height: 100px;
    bottom: 0;
}

#navbarx{
	background: transparent;
	border: none;
	height: 200px;
}

.navbarHeight{
	height: 200px;
}

.logoArea{
	width: 25px;
	height: 35px;
	background-image:url("../../images/flame.png");
  background-position: center;
	background-size: 70px;
	display: inline-block;
	float: left;
	margin-right: 10px;
	margin-top: 30px;
}

.registerBox {
	background-color: #21282e;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	text-align: center;
}

.verticalCenter {
	margin-top: 25vh;
	margin-bottom: 25vh;
}

.submitBtn{
	background-color: #4AC8FF;
	border: none;
	border-radius: 2px;
}


	/*battle*/
  .display{
    background-color: #282E34;
    height: 40vh;
    margin-top: 8vh;
    border-radius: 2px;
  }

  .display:hover{
    background-color: #282E34;
    height: 40vh;
    margin-top: 8vh;
  }

  .firstCharacter{
    background-color: #21282E;
    height: 100vh;
    margin-top: 8vh;
  }

  .secondCharacter{
    background-color: #21282E;
    height: 100vh;
    margin-top: 10vh;
  }

  .titleBattle {
    color:#fff;
    margin-top: 50vh;
    font-family: 'trump_gothic_west';
    font-size: 40pt;
  }

  .userNameBattle{
    font-family: 'trump_gothic_west';
    color:#fff;
    font-size: 18pt;
    margin-top: 0;
  }

  .levelUser{
    color:#fff;
    font-family: 'maisonneuebook';
    font-size: 9pt;
  }

  #userOneImage{
    background-image: url("../../images/characters/male_monk.png");
    background-size: 80%;
    background-position: center;
      background-repeat: no-repeat;
    height: 30vh;
    z-index: 2;
    position: relative;
  }

  #userTwoImage{
    background-image: url("../../images/characters/female_assassin.png");
    background-size: 80%;
    background-position: center;
      background-repeat: no-repeat;
    height: 30vh;
    z-index: 2;
    position: relative;
  }

  .containerSkills{
    height: 100vh;
    background-color: #282E34;
    margin-top: -15vh;
    z-index: 1;
  }

  .containerSkills h1{
    color:#fff;
    font-family: 'trump_gothic_west';
    font-size: 16pt;
    padding-top: 15vh;
  }

  .HP{
    height: 1vh;
    border-radius: 4px;
    background-color: #353D45;
    width: 80%;
    text-align: center;
    margin: auto;

  }

  #lifePointsUserOne{
    height: 1vh;
    border-radius: 4px;
    background-color: #4FCC53;
    width: 80%;
  }


  #lifePointsUserTwo{
    height: 1vh;
    border-radius: 4px;
    background-color: #4FCC53;
    width: 60%;
  }

  .hpUser{
    color: #fff;
    font-family: 'maisonneuebook';
    font-size: 8pt;
    padding-top: 1vh;
    opacity: 0.7;
  }


.atkContainer{
  background-color: #353D45;
  width: 80%;
  height: 12vh;
  text-align: center;
  border-radius: 2px;
  margin: auto;
  margin-top: 4vh;
}

.atk{
  float: left;
  text-align: left;
  font-size: 7pt;
  font-family: 'maisonneuebook';
  color: #fff;
  padding-left: 2vw;
  padding-top: 25px;
  opacity: 0.8;


}

.def{
  float: right;
  text-align: left;
  font-size: 7pt;
  color: #fff;
  display: inline-block;
  font-family: 'maisonneuebook';
  margin: auto;
  padding-right: 2vw;
  padding-top: 25px;
  opacity: 0.8;
}

.skillsContainer{
  margin-top: 4vh;
  display: inline-block;
  text-align: center;
  width: 80%;

}

.potions{
  height: 40px;
  width: 40px;
  border-radius: 120px;
  background-color: #353D45;
  display: inline-block;
  margin: 5px;
}

.potions:hover{
  height: 40px;
  width: 40px;
  border-radius: 120px;
  background-color: #353D45;
  display: inline-block;
  margin: 5px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);

}

.weaponLeft{
  height: 40px;
  width: 40px;
  border-radius: 120px;
  background-color: #353D45;
  display: inline-block;
  margin: 5px;
}

.weaponLeft:hover{
  height: 40px;
  width: 40px;
  border-radius: 120px;
  background-color: #353D45;
  display: inline-block;
  margin: 5px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.weaponRight{
  height: 40px;
  width: 40px;
  border-radius: 120px;
  background-color: #353D45;
  display: inline-block;
  margin: 5px;
}

.weaponRight:hover{
  height: 40px;
  width: 40px;
  border-radius: 120px;
  background-color: #353D45;
  display: inline-block;
  margin: 5px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.skill{
  height: 40px;
  width: 40px;
  border-radius: 120px;
  background-color: #353D45;
  display: inline-block;
  margin: 5px;
}

.skill:hover{
  height: 40px;
  width: 40px;
  border-radius: 120px;
  background-color: #353D45;
  display: inline-block;
  margin: 5px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

#potionUserOne{
  background-image: url("../../images/itm12-13-11.png");
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
}

#potionUserTwo{
  background-image: url("../../images/itm12-13-11.png");
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
  opacity: 0.5;
}
